[Desktop Entry]
Encoding=UTF-8
Name=ION
Comment=ION P2P Cryptocurrency
Comment[fr]=ION, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ION, eşten eşe kriptografik sanal para birimi
Exec=ion-qt %u
Terminal=false
Type=Application
Icon=ion128
MimeType=x-scheme-handler/ion;
Categories=Office;Finance;
