[Desktop Entry]
Encoding=UTF-8
Name=Ion-Qt Unit test
Comment=Ion P2P gaming related cryptocurrency - UNITTEST
Comment[fr]=Ion unittest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ion unittest, eşten eşe kriptografik sanal para birimi
Exec=ion-qt --unittest %u
Terminal=false
Type=Application
Icon=ion128-unittest
MimeType=x-scheme-handler/ion;
Categories=Office;Finance;
