[Desktop Entry]
Encoding=UTF-8
Name=Ion-Qt (Resync)
Comment=Ion P2P gaming related cryptocurrency
Comment[fr]=Ion, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ion, eşten eşe kriptografik sanal para birimi
Exec=ion-qt --resync %u
Terminal=false
Type=Application
Icon=ion128
MimeType=x-scheme-handler/ion;
Categories=Office;Finance;
