[Desktop Entry]
Encoding=UTF-8
Name=Ion-Qt Testnet (Reindex)
Comment=Ion P2P gaming related cryptocurrency - TESTNETWORK
Comment[fr]=Ion testnet, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ion testnet, eşten eşe kriptografik sanal para birimi
Exec=ion-qt --testnet --reindex %u
Terminal=false
Type=Application
Icon=ion128-testnet
MimeType=x-scheme-handler/ion;
Categories=Office;Finance;
