# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Ion Qt (Testnet)
Icon=${SNAP}/ion128testnet.png
MimeType=x-scheme-handler/ion;
Exec=ion %u --testnet
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Ion Digital Currency QT (Testnet) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;ion;testnet;qt;crypto;currency;snap;snapcraft;
Name[de_DE]=ion-testnet.desktop.desktop
