# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.1.01-rc2
Encoding=UTF-8
Name=Ion Qt (testnet)
Icon=${SNAP}/ion128-testnet.png
MimeType=x-scheme-handler/ion;
Exec=ion --testnet %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=Ion Digital Currency QT (by CEVAP) CE source code (Community Edition)
Keywords=internet;ion;testnet;qt;crypto;currency;snap;snapcraft;
