# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.1.99-master
Encoding=UTF-8
Name=Ion Qt (Regtest)
Icon=${SNAP}/ion128-regtest.png
MimeType=x-scheme-handler/ion;
Exec=ion --regtest %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=Ion Digital Currency QT (by CEVAP) CE source code (Community Edition)
Keywords=internet;ion;regtest;qt;crypto;currency;snap;snapcraft;
