# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Ion Qt
Icon=${SNAP}/ion128.png
MimeType=x-scheme-handler/ion;
Exec=ion %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Ion Digital Currency QT 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;ion;main;qt;crypto;currency;snap;snapcraft;
Name[de_DE]=ion.desktop.desktop
