# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.0.0
Encoding=UTF-8
Name=Ion Daemon (reindex)
Icon=${SNAP}/iond128.png
MimeType=x-scheme-handler/ion;
Exec=iond %u --reindex
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=🗺️Ion Digital Currency Daemon (reindex) 👯👯 👛 (by 🐼CEVAP🐼) CE source code (Community Edition)
Keywords=internet;ion;main;daemon;server;crypto;currency;snap;snapcraft;
Name[de_DE]=iond-reindex.desktop.desktop
