# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=3.1.99
Encoding=UTF-8
Name=Ion Daemon
Icon=${SNAP}/iond.ico
MimeType=x-scheme-handler/iond;
Exec=iond %u
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=Ion Digital Currency Daemon (by CEVAP) CE source code (Community Edition)
Keywords=internet;ion;main;qt;crypto;currency;snap;snapcraft;
