# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.ht$

[Desktop Entry]
Type=Application
Version=3.1.99
Encoding=UTF-8
Name=Ion Daemon Regression Test
Icon=${SNAP}/iondregtest.ico
MimeType=x-scheme-handler/iondregtest;
Exec=iondregtest --regtest %u
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=Ion Digital Currency Daemon (by CEVAP) CE source code (Community Edition)
Keywords=internet;ion;regtest;daemon;crypto;currency;snap;snapcraft;
