# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.ht$

[Desktop Entry]
Type=Application
Version=3.1.99
Encoding=UTF-8
Name=Ion CLI Regression Test
Icon=${SNAP}/ionregtest-cli.ico
MimeType=x-scheme-handler/ionregtest;
Exec=ionregtest --regtest %u
Terminal=true
Categories=Office;Finance;Cryptocurrency;
Comment=Ion Digital Currency CLI (by CEVAP) CE source code (Community Edition)
Keywords=internet;ion;regtest;cli;crypto;currency;snap;snapcraft;
