# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.ht$

[Desktop Entry]
Type=Application
Version=3.1.99
Encoding=UTF-8
Name=Ion Qt Regression Test
Icon=${SNAP}/ionregtest-qt.ico
MimeType=x-scheme-handler/ionregtest-qt;
Exec=ionregtest-qt --regtest %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=Ion Digital Currency QT (by CEVAP) CE source code (Community Edition)
Keywords=internet;ion;regtest;qt;crypto;currency;snap;snapcraft;
