# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.ht$

[Desktop Entry]
Type=Application
Version=3.1.99
Encoding=UTF-8
Name=Ion Qt Testnet
Icon=${SNAP}/iontestnet-qt.ico
MimeType=x-scheme-handler/iontestnet-qt;
Exec=iontestnet-qt --testnet %u
Terminal=false
Categories=Office;Finance;Cryptocurrency;
Comment=Ion Digital Currency QT (by CEVAP) CE source code (Community Edition)
Keywords=internet;ion;testnet;qt;crypto;currency;snap;snapcraft;
